@import 'variables';
@import 'animations';
@import 'fonts';
@import 'scrollbar';

* {
  box-sizing: content-box;
}

span {
  font-size: inherit;
  font-weight: inherit;
}

.card {
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.04) 0 3px 5px;
  padding: 0.5em;

  &__content {
    border-style: dashed;
    border-color: #ccc;
    border-width: 1px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }
}